.article{
    margin : 20px auto;
    padding : 20px;
    background-color : #b9def0;

    font-size: 20px;
}

.article >.content{
    margin : 10px;
    padding : 5px;
}

.reply{
    margin : 5px;
    padding : 10px;
    background-color: #d9edf7;
}
